language: go
go:
    - 1.3
    - 1.4
    - 1.5
    - 1.6
git:
    depth: 3
install:
    - go get ./...
    - mkdir test
    - curl http://shakespeare.mit.edu/midsummer/full.html > test/bench.txt
script:
    - go test -v ./...
    - cd deltal && go test -bench .
